*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: set a height for the container */
    height: 100vh;
}
  
.content {
    /* Optional: set a width for the content */
    /* width: 50%; */
}

.content_text {
    color: red;
    font-size: 50px;
}

.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
.slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

.slideshow-image:nth-child(1) {
    background-image: url('image1.jpg');
    animation: slide 9s infinite;
}
  
.slideshow-image:nth-child(2) {
    background-image: url('image2.jpg');
    animation: slide 9s infinite;
    animation-delay: 3s;
}
  
.slideshow-image:nth-child(3) {
    background-image: url('image3.jpg');
    animation: slide 9s infinite;
    animation-delay: 6s;
}
  
@keyframes slide {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
}

